[submodule "src/tinyobjloader"]
	path = src/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git

[submodule "src/tinygltf"]
	path = src/tinygltf
	url = https://github.com/syoyo/tinygltf.git
